---
interface Props {
  src: string;
  title?: string;
}

const { src, title = 'Video' } = Astro.props;

// Extract YouTube/Vimeo embed URLs
let embedSrc = src;
const ytMatch = src.match(/(?:youtube\.com\/watch\?v=|youtu\.be\/)([^&]+)/);
if (ytMatch) embedSrc = `https://www.youtube-nocookie.com/embed/${ytMatch[1]}`;
const vimeoMatch = src.match(/vimeo\.com\/(\d+)/);
if (vimeoMatch) embedSrc = `https://player.vimeo.com/video/${vimeoMatch[1]}`;
---

<div class="my-6 rounded-xl overflow-hidden border border-[var(--color-border)]">
  <div class="aspect-video">
    <iframe src={embedSrc} title={title} allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="w-full h-full"></iframe>
  </div>
</div>
